[basic]
variable-rgx=[a-z_][a-z0-9_]{0,30}$
attr-rgx=[a-z_][a-z0-9_]{0,30}$
argument-rgx=[a-z_][a-z0-9_]{0,30}$
[format]
indent-string='  '
[design]
max-locals=100
max-attributes=50


disable=C0111,C0326,C0330,E0401
